# IDE settings
.idea
.vscode/

# build files
dist/*
*.pyc

# support directory for testing purposes
info_dir/*

# test artifacts
tests/prov/prov_counter.db
tests/storer/data/*
tests/storer/test_provenance/*
tests/prov/provset_workflow_data/*
htmlcov/*
.coverage
.coverage.*

benchmarks/redis_data/*
