# .coveragerc to control coverage.py
[run]
command_line = -m unittest discover -s tests -p test_*.py
source = oc_ocdm/
omit = 
    tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod